@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,300&display=swap');

#header{
  background-color: #ff69b4;
  /* height: 50px; */
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;

  font-family: 'Alfa Slab One', cursive;
}

#qr{
  font-family: 'Belgrano', serif;
}
#free{
  float:center;


}

#orders{
  float:right
}

#home{
  
}

#togglebutton{
  position:absolute;
  top:.75rem;
  right:1rem;
  flex-direction:column;
  justify-content:space-between;
  width:30px; 
  height:21px;
  display:none
}

#bar{
  height:3px;
  width:100%;
  background-color: white;
  border-bottom: 10px;
}

#homenavbar{
  font-size: 26px;
 
  background-image: url("./pics/cheeta.png");}

  
#bannernav{

  background-image: url("./pics/cheeta.png");
  font-size: 26px;
  font-family: 'Bubblegum Sans', cursive;
}
#homenavbar ul{
  height: 100px;
  
  display: flex;
  justify-content: right;
  
  
    

  
}

#homenavbar input{
  width: 270px;
    border-radius: 20px;
    height: 20px;
}


#homenavbar li{
  list-style: none;
    
    padding-top: 50px;
    
}

#homenavbar a{
  text-decoration: none;
  padding:10px;
  color: black;

}

#homenavbar a:hover{
  
  color: pink;
  
}



#botnav button{
  display:none
}

#navbar{
  height:70px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
    justify-content: right;

}

#navbar li{
  list-style: none;
  text-decoration: none;
  height:20px
}

#navbar a{
  text-decoration: none;

  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid grey;

  
}

#mainpic{
  object-fit: cover;
    max-width: 80%;
    position: relative;
    

}

#signupinput{

  display:flex;
   justify-content:right;
   border-radius:3px;
    height:40px;
    width:90%;
    background-color:white;
    margin-left:auto;
    margin-right:auto;

}



#mainpic1{
  
    width: 35%;
  

    
    position: relative;
    bottom:300px;
    
    

}

#navbar ul{
  display: flex;
  justify-content: center;
  margin:auto
}

#headingpic{
  
  background-color: pink;
  font-family: 'Bungee Outline', cursive;
  display: flex;
  display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
  
}

#shopbut{
  width:450px;
  height:100px;
 
  font-weight:bold;
  font-size:28px; 
  margin-top:100px; 
  margin-bottom:10px;
  font-family: 'Alfa Slab One', cursive;
  border-radius: 5px;
  background-color:#ff69b4
            
}

#saleitems{
  display:grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  height:600px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
  
}
 #saleitems p{
  font-size: 40px;
  padding-right:75px;
  position: relative;
  top:400px;
  text-align: left;
  
 }

.leftpic{
  background-image: url("./pics/pic1.png");
  background-size: cover;
}
.midpic{
  background-image: url("./pics/pic2.png");
  background-size: cover;
}
.rightpic{
  background-image: url("./pics/pic3.png");
  background-size: cover;
}
#shops{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  grid-gap: 20px;
}

#salebutton{
  display:flex;
  justify-content: center;
  align-items: center;

}

#salebutton button {
  
  color:red;
  height:50px; 
  width:200px;
  font-size:24px;
}
  


#favorite{
  font-family: 'Bubblegum Sans', cursive;
  color: #f6a2bf;
}


#fav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  font-family: 'Coda Caption', sans-serif;
  font-weight:bold;
  font-size:26px;
}

#fav a{
  text-decoration: none;
  color:#ff69b4
}

#homeprice{
  font-family: 'Bubblegum Sans', cursive;
  font-size: 24px;
  color: #ff69b4
}

#hname{
  font-family: 'Source Sans Pro', sans-serif;
}

#shopcart{
  display: grid;
  grid-template-columns: 60% 40%;
  height: 400px;
  grid-gap: 20px;
  
}



#shop img{
  height: 290px;
  width: 255px;
}

#signup{
  

}



#dress1{
  background-image: url('./pics/dress1.png');
  background-position: center;
  background-size: cover;
}
#dress2{
  background-image: url('./pics/dresss2.png');
  background-position: center;
  background-size: cover;
}
#dress3{
  background-image: url('./pics/dresss3.png');
  background-position: center;
  background-size: cover;
}
#dress4{
  background-image: url('./pics/dresss4.png');
  background-position: center;
  background-size: cover;
}

#signup input{
  width: 90%;
  height: 35px;
  border:none;
}



#subscribe{
  display:grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
 
  background-color: black;
}

#subpic{

    background-image: url('./pics/mainpic.png');
    height: 200px;
    width:200px

}

.collab{
  font-size: 32px;
  background-color: burlywood;

}

.collab h1{
  font-family: 'Bungee', cursive;
  position: relative;
  text-align: left;

}

.collab p{
  font-family: 'Coda', cursive;
  padding: 30px;

}

.story{
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  font-size: 24px;
}

.story h1{
  font-family: 'Coda Caption', sans-serif;
}

.story span{
  font-family: 'Coda Caption', sans-serif;
}

#follow{
  height: 200px;
  background-color: black;
  


}

#foll{
  font-family: 'Coda Caption', sans-serif;
  font-size: 36px;


}

#title{
  padding:30px
}

#footer{
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}


#footer li{
  list-style: none;
  text-align: left;
}

#footer a{
  text-decoration: none;
  color: grey;
}

#tagline{
  padding-top: 100px;
  height: 400px;

}

#tagline p{
  font-size: 36px;

}

#tagline input{
  height: 50px;
  width: 90%;

}

#tagline button{
  height: 50px;
  width: 200px;
  background-color: grey;
  color:white;
  
}

#category {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-gap:20px;
 
}

#category img{
  height: 250px;
  width: 80%;
  background-image: url('./pics/dress4.jpeg');

}

#signup1{
  color:#ff69b4;
  font-family: 'Coda Caption', sans-serif;
}

#signup2{
  font-family: 'Bubblegum Sans', cursive;
  color:#f6a2bf;

}



#shopp{
  font-family: 'Lato', sans-serif;

  height: 250px;
  width: 80%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shopal{
  font-family: 'Lato', sans-serif;
  
}


#newsletter{
  font-size: 39px;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
}

#newsletter button{
  background-color: #606060;
  border:none;
  margin-left:20px;
  width:"90px"

}

#prod{
  display: grid;
  grid-template-columns: repeat(2,minmax(auto, 1fr));
  border: 1px solid grey
}

#prod span{
  text-align: left;
  
}

#prod button{
  background-color: #606060;
  height:50px;
  width:100px
}

#prod a{
  text-decoration: none;
  color:white;

}

#productpage{
  font-family: 'Lato', sans-serif;
}
#productpic{
  /* background-image: url("./pics/productpage.png");
  background-size: cover; */
}

#product{
  display: grid;
  grid-template-columns: repeat(2,minmax(auto, 1fr));
  grid-template-rows: repeat(3, minmax(auto, 1fr));
  border: 1px solid grey;
  padding:"20px"
}


#product div{
  padding: 20px
}

#product img{
  width:130px;
  height:150px;
  background-color: lightgrey
}
#product div{
  padding-right: 10px
}

#shopcollecthead{
  font-family: 'Bubblegum Sans', cursive;
  color:#ff69b4;
  font-size: 32px

}

#product span{
  display: block;
}

#bottom{
  text-align: center;
}


#bottomnavbar{
  height:30px
}

#bottomnavbar li{
  list-style: none;
  text-decoration: none;
  float: right;
}

#bottomnavbar a{
  text-decoration: none;
  
  padding: 10px
}

#bottomnavbar ul{
  position: relative;
  right: 40%; 
}

#cart{
  font-family: 'Lato', sans-serif;
}

#shoppingcart{
  height:200px;
  background-color: lightgray;
  text-align: center;
  
}

#shopbut a{
  text-decoration: none;
  color: black;
}

#shippingdetails{
  display: grid;
  grid-template-columns: 70% 30%;
  

}

#shoppingcart ul{
position: relative;
top: 50%

}
#shoppingcart li{
  text-decoration: none;
  list-style: none;
  flex-direction: row;
  font-size: 36px;
  color: gray;
  cursor: pointer;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

#shoppingcart li:hover{
  color: black;
}

#shoppingcart button{
  background: none;
  border: none;
  font-size: 29px;
  float: left;
  display: flex;
  align-items: center;

  
  
}

#shop{
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 10px;

}


#payment{
  display: grid;
  grid-template-rows: repeat(2, minmax(200px, 1fr));
  
}

#next button{
  width: 200px;
  height: 50px;
  font-size: 36px;
 
  float: left;
  
}

#summaryinfo{
  display: grid;
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  
}

#summary{
  padding-left: 10px;
}

#summary input{
  width: 80%;
  height:30px

}

#summaryinfo p{
  text-align: left;


}

#paymentoptions{
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 80px;
}

#paymentoptions{
  padding: 30px;
}



#smallbox{
  width: 250px;
  margin: 20px;
  height:30px;
  flex-basis: 48%

}

#bigbox{
  width: 93.5%;
  height:30px

}

#exsmallbox{
  height:30px;
  width:100px
}

#creditcard{
  height: 250px;
  width: 100%;
  border: 2px solid black;
}

#creditcardinfo{
  display: flex;
    align-items: center;
    justify-content: space-around;
    height:50px
}

#creditcardinfo input{
height:30px

}


#paypal{
  height: 100px;
  width: 100%;
  border: 2px solid black;
}

#dres{
  display:grid;
  grid-template-columns: 200px 200px;
}

#productdetails{
  display:grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
}

#bottomimages{
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  padding: 30px;
}

#bottomimages img{
  width:70%;
  height:120px
}

#priceandsize{
  display: flex;
  justify-content: center;

}

#prodinfo{
  display:grid;
 
  text-align: left;
  font-size: 24px;
}

#prodprice{
  font-family: 'Bubblegum Sans', cursive;
  font-size: 42px;
}

#prodprice select{
  font-size: 24px;
  border-radius: 10px;
}




#shopcollection{
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  text-align: left;
  padding-left: 20px;

}

#shopcollection p{
  text-align: center;
}


#shopcollection img{
  height: 100px;
  width: 100px;
  float:left
}

#collection{
  background-color: #ff69b4;
}

#reviews{
  display: flex;
  justify-content: space-around;
}

#reviews span{
    height: 150px;
    text-align: center;
    display: block;
}

#row{
  display:"flex";
  align-items:"center";
  justify-content:"space-between"
}

#radio{
  width: 250px;
  margin: 20px;
  height:100px;
  flex-basis: 48%;
   border: 3px solid black;
  display:inline-flex;

}

#loyal{
  width:70%

}
#loyal label{
  margin:0px
}

#loyalcn{
  border: 2px solid;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100px
 
}

#loyal input{
  width: 400px;
  border-radius: 10px;
  height: 30px;
  margin:5px
}

#body{
  text-align: center;
  display: flex;
    justify-content: center;
    background-color: #f6a2bf;
}

#loyalname h1{

display: flex;

}

#loyalname{
  margin-top: 30px;
    border: 3px solid;
    background-color: #f6a2b4;
    padding: 10px;
    font-weight: bolder;
}

#center{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

#bot{
  background-image: url("./pics/cheeta.png");
}


#loyalinformation button{
  border-radius:10px;
  height: 50px;
  width: 150px;
  font-size: 30px;
  margin-left: 400px;

  

}

#newin{
  float:left;
}



@media(max-width: 700px){
  /* #togglebutton{
    display: flex;
    color: pink

  } */

  #homenavbar li{
   
  }

  #newin{
    display: none;
  }

  #header{
    display: none;
  }

  #saleitems p {
    font-size: 0px;
    position: relative;
    top:30px;
    
    
    text-align: left;
}

#saleitems{
 
  display:flex;
  flex-direction: row;
  flex-wrap:wrap; 
}

.leftpic{
  width:100%
}

.midpic{
  width:100%
}

.rightpic{
  width:100%
}
#shopbut{
  width:auto;
  height:auto;

}

#salebutton {
  width:75px;
  height:70px;
  position: relative;
  top:100px

  
  
}
#salebutton button {
  font-size:12px;
  margin-left:20px;
  width:105px;
  height:50px;

  
}

#headingpic{
  
}

#headingpic span{
  background-color:pink; 
  font-size: 40px
}

.story {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  margin: auto;
}

#subscribe {
  
display: flex;
flex-direction: column;

}


#footer {
  display: flex;
  flex-wrap: wrap;
}

.collab {
  font-size: 12px;
}

#product{
  display: grid;
  grid-template-columns: repeat(2,minmax(auto, 1fr));
  grid-template-rows: repeat(3, minmax(auto, 1fr));
  border: 1px solid grey;
  padding:"20px"
}

#prod {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}

#newsletter {
  font-size: 39px;
  display: flex;
  flex-direction: column;
}

#product img {
  width: 50%;
  background-color: lightgrey;
  height: 90%;
}

#product h1{
  font-size: 14px;
}

#product p{

  font-size: 12px;
}

#browse{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#browse h1{
  text-align: center;
}

#browse p{
  text-align: center;
}
#category {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

#category img{
  height:200px;
  background-position: center;
  background-size: cover;
}
#shopp{
  margin:auto;
  height:200px
  
}


#newsletter img{
  display: none;
}

#shoppingcart button{
  padding: 10px;
  font-size: 16px;
}

#next button {
  width: 35%;
  height: 50px;
  font-size: 26px;
  float: left;
}
#shopcart {
  display: flex;
  flex-direction: column;
}

#shippingdetails{
 
    display: flex;
    flex-direction: column;
}

#paymentoptions{
  display: flex;
    flex-direction: column;
}

#bottomimages{
  padding: 0px;
}

 #productdetails {
    display: flex;
    flex-direction: column ;
  }

    prodinfo {
      display: flex;
      flex-direction: column;
      text-align: left;
      

}
#rev{
  font-size: 12px;
}

#loyal input {
  width: 100%;

}
#loyalinformation button {
  margin-left: 0px;

}

#navbar a {
  text-decoration: none;
  padding-right: 0px;
  padding-left: 0px;
  border-right: 1px solid grey;
}

#navbar ul {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0px;
}

#navbar{
  
    justify-content: center;
}
#homenavbar ul {
  display: flex;
  font-size: 14px;
  justify-content: space-around;
}

#homenavbar input{
  width:100%;
}
}

