#header{
  background-color: pink;
  height: 50px;
}


#free{
  float:center;


}

#orders{
  float:right
}

#navbar ul{
  height: 100px;
  background-color: antiquewhite;

  
}

#navbar a{
  text-decoration: none;
  padding:10px;
  
}

#navbar li{
  list-style: none;
  float: right;
  padding-top:80px;
  padding-left: 40px
}

#headingpic{
  height: 500px;
  width: 1200px;
  background-color: pink;
}

#saleitems{
  display:grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  height:400px;
  
}

.leftpic{
  background-color: aqua;
}
.midpic{
  background-color: bisque;

}
.rightpic{
  background-color: blue;
}

#shop{
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  height: 300px
}