@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
#header{
  background-color: pink;
  /* height: 50px; */
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;

}


#free{
  float:center;


}

#orders{
  float:right
}

#homenavbar{
  font-size: 24px;
}
#homenavbar ul{
  height: 100px;
  background-color: antiquewhite;

  
}

#homenavbar a{
  text-decoration: none;
  padding:10px;
  
}



#homenavbar li{
  list-style: none;
  float: right;
  padding-top:70px;
  padding-left: 50px
}

#navbar{
  height:30px
}

#navbar li{
  list-style: none;
  text-decoration: none;
  float: right;
}

#navbar a{
  text-decoration: none;
  float: left;
  padding: 10px
}

#headingpic{
  height: 500px;
  width: 1500px;
  background-color: pink;
}

#saleitems{
  display:grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  height:600px;
  
  padding:15px;
  
}
 #saleitems p{
  font-size: 40px;
  padding-right:75px;
  position: relative;
  top:400px;
  
 }

.leftpic{
  background-image: url("./pics/pic2.jpeg");
}
.midpic{
  background-image: url("./pics/pic2.jpeg");

}
.rightpic{
  background-image: url("./pics/pic2.jpeg");
}
#shop{
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 2fr));
  height: 400px;
  grid-gap: 20px;
  
}

#shop img{
  height: 290px;
  width: 255px;
}

#signup{
  width: 50%;

}



#dress1{
  background-image: url('./pics/dress1.jpeg');
}
#dress2{
  background-image: url('./pics/dress2.jpeg');
}
#dress3{
  background-image: url('./pics/dress3.jpeg');
}
#dress4{
  background-image: url('./pics/dress4.jpeg');
}

#signup input{
  width: 600px;
  height: 50px;
  border-radius: 30px;
}
.collab{
  font-size: 32px;
  background-color: burlywood;

}

.story{
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  font-size: 24px;
}

#follow{
  height: 200px;
  background-color: black;
}

#footer{
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
}

#footer li{
  list-style: none;
}

#footer a{
  text-decoration: none;
}

#tagline{
  padding-top: 100px;
  height: 400px;

}

#tagline p{
  font-size: 36px;

}

#tagline input{
  height: 50px;
  width: 600px;

}

#tagline button{
  height: 50px;
  width: 200px;
  background-color: grey;
  color:white;
  
}

#category {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-gap:20px;
  padding: 100px;
}

#category img{
  height: 250px;
  width: 205px;
  background-image: url('./pics/dress4.jpeg');

}

#shopp{
  font-family: 'Lato', sans-serif;

  height: 250px;
  width: 205px;
  background-color: lightgray;
}

#shopal{
  font-family: 'Lato', sans-serif;
  
}

#newsletter{
  height:200px;
  font-size: 39px;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
}

#prod{
  display: grid;
  grid-template-columns: repeat(2,minmax(auto, 1fr));
  border: 1px solid grey
}

#product{
  display: grid;
  grid-template-columns: repeat(2,minmax(auto, 1fr));
  grid-template-rows: repeat(3, minmax(auto, 1fr));
  border: 1px solid grey
}

#product img{
  width:100px;
  height:100px;
  background-color: chocolate
}
#product div{
  padding: 20px
}
#product p{
  float:right
}

#bottom{
  text-align: center;
}


#bottomnavbar{
  height:30px
}

#bottomnavbar li{
  list-style: none;
  text-decoration: none;
  float: right;
}

#bottomnavbar a{
  text-decoration: none;
  
  padding: 10px
}

#bottomnavbar ul{
  position: relative;
  right: 40%; 
}

#cart{
  font-family: 'Lato', sans-serif;
}

#shoppingcart{
  height:200px;
  background-color: lightgray;
  text-align: center;
  
}

#shoppingcart ul{
position: relative;
top: 50%

}
#shoppingcart li{
  text-decoration: none;
  list-style: none;
  flex-direction: row;
  font-size: 36px;
  color: gray;
  cursor: pointer;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#shoppingcart li:hover{
  color: black;
}

#shoppingcart button{
  background: none;
  border: none;
  font-size: 29px;
  float: left;
  display: flex;
  align-items: center;
  
  
}

#shop{
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 10px;

}


#payment{
  display: grid;
  grid-template-rows: repeat(2, minmax(200px, 1fr));
  
}

#next button{
  width: 250px;
  height: 50px;
  font-size: 36px;
}

#summaryinfo{
  display: grid;
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  
}

#summary input{
  width: 350px;
  height:30px

}

#summaryinfo p{
  text-align: left;


}